section.footer {
    background-color: var(--blue);
    padding: 5rem 0;
}

section.footer div.content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}

section.footer div.content div.primary-info a {
    text-decoration:none;
}

section.footer div.logo {
    height: fit-content;
    display: flex;
    gap: 1rem;
}

section.footer div.logo .img {
    position: relative;
    width: 74px;
}

section.footer div.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

section.footer div.logo-text span {
    color: #fff !important;
    text-decoration:none !important;
}

section.footer div.logo-text span:first-child {
    font-size: 2.25rem;
    font-weight: 600;
}

section.footer div.logo-text span:last-child {
    font-size: 1rem;
    letter-spacing: .1em;
}

section.footer span {
    color: hsl(0, 0%, 80%);
}

section.footer h4 {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
    line-height: 3em;
}

section.footer .primary-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
    width:290px;
}

section.footer .address {
    display: flex;
    flex-direction: column;
}

section.footer .contact-info {
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

section.footer .phone,
section.footer .mail {
    display: flex;
    align-items: center;
    gap: .25rem;
}

section.footer .secondary-info {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

section.footer .secondary-info .img {
    cursor: pointer;
}

section.footer .menu .items {
    display: flex;
    flex-direction: column;
}

section.footer .secondary-info a {
    color: hsl(0, 0%, 80%);
    text-decoration: none;
    font-size: 1rem;
}

section.footer .secondary-info a:hover {
    text-decoration: underline;
}

section.footer .social-link {
    display:flex;
    align-items:center;
    gap:.25rem;
}

section.footer .icon {
    height:20px;
    width:20px;
    position:relative;
}

section.footer .socials {
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
div.map {
    aspect-ratio:16/9;
}
div.map iframe {
    border-radius:.25rem;
}