@media (max-width:900px) {
    header {
        padding:1rem 0;
    }
    header nav {
        display:none;
    }
    header .content {
        justify-content:center !important;
    }
}

@media (max-width:600px) {
    header {
        padding:.5rem 0;
    }
    header .logo-text {
        display:none !important;
    }
    header .img {
        width:52px;
        height:52px;
    }
}