@media (max-width:900px) {
    header {
        padding:1rem 0;
    }
    header nav.desktop {
        display:none;
    }

    /* header nav {
        background-color:var(--blue);
        flex-direction:column;
        position:fixed;
        top:64px;
        left:0;
        width:100vw;
        align-items:center;
        display:flex;
    }
    header nav a {
        flex:1;
        padding:1rem 2rem;
    }
    header nav a span {
        color:hsl(0, 0%, 80%);
    } */
    header .burger {
        display:block;
    }
}

@media (max-width:600px) {
    header {
        padding:.5rem 0;
    }
    header .logo-text {
        display:none !important;
    }
    header .img {
        width:52px;
        height:52px;
    }
    .overlay {
        top:68px;
    }
}