/* @media (max-width:1380px) {
    section.fourth .map {
        width:100vw;
        height:500px;
    }
    section.fourth .form {
        /* width:100%;
        min-width: 250px;
    }
}

@media (max-width:470px) {
    section.fourth .text h1 {
        font-size:1.5rem;
    }
    section.fourth .text p {
        font-size:1rem;
    }
} */