section.fourth {
    background:#fff;
    display:flex;
    flex-wrap:wrap;
    padding:2rem 0;
    gap:2rem;
}

section.fourth .text {
    width:60%;
    min-width:290px;
}

section.fourth .text h1 {
    font-size: 1.25rem;
    margin: 0;
    background: linear-gradient(90deg, var(--blue) 0%, hsl(206, 100%, 30%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
    line-height: 1.4em;
}

section.fourth .text p {
    margin: 0;
    font-size: 1rem;
    color: hsl(0, 0%, 52%);
}

section.fourth .form {  
    display:flex;
    flex-direction:column;
    gap:1rem;
    flex:1;
    align-items:center;
}
section.fourth .fourth-images {
    flex:2;
    display:flex;
    gap:1rem;
    justify-content:center;
    flex-wrap: wrap-reverse;
    align-items:center;
}
section.fourth .fourth-images img {
    /* flex:1; */
    transition:200ms;
    aspect-ratio:1;
    width:290px;
    height:290px;
    border-radius:.25rem;
}
section.fourth .fourth-images img:hover {
    transition:200ms;
    transform:translateY(-4px);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.57);
}

section.fourth .map {
    width:50vw;
    height:960px;
}

section.fourth .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    gap: 1rem;

}

section.fourth .input {
    display: flex;
    flex-direction: column;
    width: 60%;
}

section.fourth input[type="text"],
section.fourth input[type="email"],
section.fourth textarea {
    border: 1px solid hsl(0, 0%, 80%);
    outline: none;
    padding-left:1rem;
    color: var(--blue);
    font-family: 'Outfit';
    font-size: 1rem;
    border-radius:.25rem;
    min-width:290px;
}

section.fourth input[type="text"],
section.fourth input[type="email"] {
    min-height: 45px;
}

section.fourth label {
    color: hsl(0, 0%, 40%);
    font-size: 1rem;
    line-height: 1.6em;
}

section.fourth input::placeholder,
section.fourth textarea::placeholder {
    font-family: 'Outfit';
    color: hsl(0, 0%, 80%);
    font-size: 1rem;
    margin-left: 2rem;
}

section.fourth textarea {
    min-height: 90px;
    padding-top: 1rem;
    resize: none;
}

section.fourth input[type="submit"] {
    width: 60%;
    background: linear-gradient(90deg, var(--blue) 0%, #005BA0 100%);
    border-radius: .25rem;
    padding:.75rem 0;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    transition: 500ms;
    font-family: 'Outfit';
    min-width:290px;
}

section.fourth input[type="submit"]:hover {
    transition: 500ms;
    transform:translateY(-0.25rem);
}

section.fourth .input-error~label {
    color: lightcoral;
}

section.fourth .input span {
    color: lightcoral;
    font-weight: 300;
}

section.fourth .input input:disabled,
section.fourth .input textarea:disabled {
    background-color: lightgrey !important;
    color: lightgrey;
}

section.fourth .disabled-button {
    background: lightgrey !important;
    cursor: default !important;
    color: grey !important;
}

section.fourth .disabled-button:hover {
    transform: none !important;
}

section.fourth .input-error {
    color: lightcoral !important;
    border: 1px solid lightcoral !important;
}