section.fourth {
    background:#fff;
    display:flex;
    flex-wrap:wrap;
}

section.fourth .text {
    flex: 1;
}

section.fourth .text h1 {
    font-size: 2rem;
    margin: 0;
    background: linear-gradient(90deg, var(--blue) 0%, hsl(206, 100%, 30%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
    line-height: 1.4em;
}

section.fourth .text p {
    margin: 0;
    font-size: 1.25rem;
    color: hsl(0, 0%, 52%);
}

section.fourth .form {
    padding:4.5rem 8vw 4.5rem 10vw;
    display:flex;
    flex-direction:column;
    gap:2rem;
    width:50vw;
    min-width:690px;
}

section.fourth .map {
    width:50vw;
    height:960px;
}

section.fourth .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 1.25rem;
}

section.fourth .input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.fourth input[type="text"],
section.fourth input[type="email"],
section.fourth textarea {
    border: 1px solid hsl(0, 0%, 80%);
    outline: none;
    padding-left: 1.75rem;
    color: var(--blue);
    font-family: 'Outfit';
    font-size: 1.25rem;
    border-radius:.25rem;
}

section.fourth input[type="text"],
section.fourth input[type="email"] {
    min-height: 65px;
}

section.fourth label {
    color: hsl(0, 0%, 40%);
    font-size: 1.125rem;
    line-height: 1.6em;
}

section.fourth input::placeholder,
section.fourth textarea::placeholder {
    font-family: 'Outfit';
    color: hsl(0, 0%, 80%);
    font-size: 1rem;
    margin-left: 2rem;
}

section.fourth textarea {
    min-height: 175px;
    padding-top: 1rem;
    resize: none;
}

section.fourth input[type="submit"] {
    width: 100%;
    margin-top: 2rem;
    min-height: 75px;
    background: linear-gradient(90deg, var(--blue) 0%, #005BA0 100%);
    border-radius: .25rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    transition: 500ms;
    font-family: 'Outfit';
    box-shadow: 0px 5px 0px hsl(206, 100%, 50%);
}

section.fourth input[type="submit"]:hover {
    transition: 500ms;
    transform:translateY(-0.25rem);
}

section.fourth .input-error~label {
    color: lightcoral;
}

section.fourth .input span {
    color: lightcoral;
    font-weight: 300;
}

section.fourth .input input:disabled,
section.fourth .input textarea:disabled {
    background-color: lightgrey !important;
    color: lightgrey;
}

section.fourth .disabled-button {
    background: lightgrey !important;
    cursor: default !important;
    color: grey !important;
}

section.fourth .disabled-button:hover {
    transform: none !important;
}

section.fourth .input-error {
    color: lightcoral !important;
    border: 1px solid lightcoral !important;
}