@media (max-width:1807px) {
    section.empreendimentos div.empreendimentos-content div.emp-card:nth-child(even) {
        height:540px;
        width:450px;
    }
}

@media (max-width:500px) {
    section.empreendimentos div.empreendimentos-content div.emp-card {
        height: 372px !important;
        width: 310px !important;
    }
}

@media (max-width:320px) {
    section.empreendimentos div.empreendimentos-content div.emp-card {
        height: 312px !important;
        width: 260px !important;
    }
} 