section.empreendimentos {
    background: linear-gradient(to bottom, var(--blue), hsl(206, 100%, 20%));
    padding:7rem 0;
    display:flex;
    flex-direction:column;
    gap:6rem;
    align-items:center;
}

section.empreendimentos h1 {
    color:#fff;
    margin:0;
    text-align:center;
    font-size:2rem;
}

section.empreendimentos div.empreendimentos-content {
    width:100%;
    display:flex;
    justify-content:center;
    gap:1rem;
    flex-wrap:wrap;
    align-content:center;
}

section.empreendimentos div.empreendimentos-content div.emp-card:nth-child(even) {
    height:580px;
    width:500px;
}

section.empreendimentos div.emp-card {
    position:relative;
    transition:200ms;
    display:grid;
    border-bottom:5px solid hsl(206, 100%, 30%);
    cursor: pointer;
    width:450px;
    height:540px;
}

section.empreendimentos div.emp-card:hover {
    transition:200ms;
    scale:1.05;
}

section.empreendimentos div.emp-overlay {
    grid-area:1/1;
    z-index:10;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    width:100%;
    height:100%;
    display:flex;
    align-items:flex-end;
    padding:1.75rem;
}

section.empreendimentos div.emp-overlay-text {
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

section.empreendimentos div.emp-open-icon {
    position:relative;
    width:2rem;
    height:2rem;
}

section.empreendimentos  h2 {
    margin:0;
    color:#fff;
}

section.empreendimentos .emp-card:hover .emp-image {
    transition:200ms;
    filter:grayscale(0%);
}

section.empreendimentos .emp-image {
    transition:200ms;
    filter:grayscale(100%);
}

section.empreendimentos a {
    text-decoration:none;
}