@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

::-moz-selection {
  color: hsl(0, 0%, 52%) !important;
  background: hsl(206, 100%, 10%);
}

::selection {
  color: hsl(0, 0%, 52%) !important;
  background: hsl(206, 100%, 10%);
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

* {
  box-sizing:border-box;
}

:root {
  --blue: hsl(206, 100%, 10%);
}

html, body {
  overflow-x:hidden;
  scroll-behavior:smooth;
  font-family: 'Outfit';
  font-size:16px !important;
}

body {
  margin: 0;
  max-width: 100%;
  position:relative;
}

section {
  width:100vw;
  min-height:500px;
}