header {
    width:100vw;
    /* border-bottom:1px solid hsl(0, 0%, 80%); */
    padding:1.5rem 0;
}

div.header-container {
    transition:200ms;
    background-color:var(--blue);
}

div.header-container.scroll-zero {
    transition:200ms;
    background:linear-gradient(to bottom, hsla(206, 100%, 10%, 0.555), transparent) !important;
}

div.header-container.scroll-zero header nav span {
    color:hsl(0, 0%, 80%);
}
div.header-container.scroll-zero header nav span:hover {
    color:hsl(0, 0%, 52%);
}

header a {
    text-decoration: none;
}

header div.content {
    height:100%;
    width:80%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

div.logo {
    height:fit-content;
    display:flex;
    gap:1rem;
}

header img {
    width:74px;
    cursor: pointer;
}

header div.logo-text {
    display:flex;
    flex-direction:column;
    justify-content:center;
    color: #fff;
    cursor:pointer;
}

header div.logo-text span:first-child {
    font-size:2.25rem;
    font-weight:600;
} 

header div.logo-text span:last-child {
    font-size:1rem;
    letter-spacing:.1em;
}

header nav {
    display:flex;
    gap:1.75rem;
}

header nav span {
    font-size:1.125rem;
    cursor:pointer;
    color:hsl(0, 0%, 52%);
    transition:200ms;
    font-weight:400;
}

header nav span:hover {
    color:hsl(0, 0%, 80%);
}

header nav span.active {
    color:#fff;
    font-weight:600;
}

.progress-bar {
    background-color:#fff;
    width:100%;
    height:1px;
}

.header-container {
    display:flex;
    flex-direction:column;
    z-index:9;
    position:fixed;
    top:0;
    align-items:start;
}