@media (max-width:1000px) {
    section.second .text-container .text-content {
        width:90%;
    }
    section.second .photo-container .photo-content {
        width:90%;
    }
    section.first h1 {
        font-size:2rem !important;
    }
}

@media (max-width:750px) {
    section.second img {
        margin:auto;
    }
}

@media (max-width:700px) {
    section.fourth .content {
        width:100%;
    }
    section.fourth .form-card {
        min-width: 300px;
        border-radius:15px;
    }
    section.fourth .input {
        width:90%;
    }
    section.fourth input[type="submit"] {
        width:90%;
    }
}

@media (max-width:620px) {
    section.first div.hero-fotos {
        gap:1rem;
    }
    section.first img {
        width:auto !important;
        height:180px !important;
    }
    section.first div.hero-overlay {
        font-size:.75rem;
    }
}

@media (max-width:600px) {
    section.first .content {
        padding-top:5rem !important;
    }
    section.second .text-content p {
        margin-bottom:5rem;
    }
    section.fourth .form-card {
        padding:2rem 0;
    }
    section.fourth input[type="text"],
    section.fourth input[type="email"] {
        min-height:55px;
    }
}

@media (max-width:500px) {
    section.second div.text-container, section.second div.photo-container {
        min-width: 250px !important;
    }
}

@media (max-width:450px) {    
    section.first h1 {
        font-size: 1.5rem !important;
    }
    section.first button span {
        font-size:1rem !important;
    }
}

@media (max-width:400px) {
    section.second .text-container p {
        font-size:1rem;
    }
    section.second img {
        width:270px;
        height:260px;
    }
    section.second {
        padding-top:5rem;
    }
    section.fourth h1 {
        font-size:1.25rem !important;
    }
    section.fourth p {
        font-size:1rem !important;
    }
    section.fourth input::placeholder,
    section.fourth textarea::placeholder {
        font-size:1rem;
    }
    section.fourth input,
    section.fourth textarea {
        font-size:1rem;
    }
    section.fourth label {
        font-size:1rem;
    }
    section.fourth input[type="submit"] {
        font-size:1.25rem;
    }
    section.fourth .text {
        min-width:300px;
    }
    section.footer .secondary-info {
        gap:2rem;
    }
    section.footer h4 {
        font-size:1.125rem;
    }
}

@media (max-width:350px) {
    section.footer .secondary-info {
        gap:1rem;
    }
}

@media (max-width:300px) {
    section.second .text-container h1 {
        font-size:1.25rem;
        min-width:0;
    }
}