@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing:border-box;
}

:root {
  --blue: hsl(206, 100%, 10%);
}

html, body {
  overflow-x:hidden;
  scroll-behavior:smooth;
}

body {
  margin: 0;
  font-family: 'Outfit';
  max-width: 100%;
  position:relative;
}

section {
  width:100vw;
  min-height:500px;
}

section.first {
  padding-top:11.25rem;
}

section.first div.content {
  width:90%;
  margin:auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

section.first h1 {
  margin:0;
  line-height: 1.2em;
  max-width:500px;
  text-align:center;
  text-wrap:balance;
  font-size:2rem;
  font-weight:600;

  background: linear-gradient(90deg, var(--blue) 0%, hsl(206, 100%, 30%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

section.first button {
  cursor:pointer;
  font-family:'Outfit';
  background: linear-gradient(90deg, var(--blue) 0%, hsl(206, 100%, 30%) 100%);
  color:#fff;
  outline:none;
  border:none;
  border-radius:30px;
  padding:1rem 2.5rem;
  font-size:1.25rem;
  font-weight:600;
  transition:500ms;
  margin-top:1.5rem;
}

section.first button:hover {
  transition:500ms;
  box-shadow: 0px 0px 12.4px 3px hsl(206, 100%, 80%);
}

section.first div.hero-fotos {
  margin-top:11.25rem;
  display:flex;
}

section.first img {
  transition:500ms;
  width:260px;
  height:315px;
  transform: matrix(0.87, 0.5, 0, 1, 0, 0);
  margin:0 -2.5rem;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

section.first .image:nth-child(1) {
  z-index:3;
}
section.first .image:nth-child(2) {
  z-index:2;
}

section.first img:hover {
  transform:translateY(-10rem);
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

/* END OF FIRST SECTION */

/* START OF SECOND SECTION */

section.second {
  position:relative;
  width:100vw;
  z-index:5;
  margin-top:-4rem;
  border-radius:30px 30px 0 0;
  border-top:1px solid hsl(0, 0%, 80%);
  border-bottom:1px solid hsl(0, 0%, 80%);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(.25rem);
  display:flex;
  padding:11.25rem 0;
  flex-wrap: wrap;
}

section.second div.text-container, section.second div.photo-container  {
  flex:1;
  height:100%;
  min-width:500px;
}

section.second .photo-container {
  background-color:var(--blue);
}

section.second .text-container {
  color:var(--blue);
  display:flex;
  justify-content:center;
}

section.second .text-container .text-content {
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:80%;
  gap:2rem;
}

section.second .text-container h1 {
  margin:0;
  line-height:2em;
  width:60%;
  min-width: 250px;
  border-bottom:solid 1px var(--blue);
  font-size:2rem;
  max-width:300px;
}

section.second .text-container p {
  font-size:1.125rem;
  width:90%;
  max-width:40ch;
}

section.second .text-container p span {
  font-weight:600;
}

section.second .photo-container {
  display:flex;
  align-items:center;
  justify-content:center;
  padding:4rem 0 2rem 0;
}

section.second .photo-container .photo-content {
  width:80%;
  display:flex;
  justify-content:space-between;
  align-items:end;
  color:#fff;
  flex-wrap:wrap;
}

section.second .photo-container .photo-content h1 {
  border-left:2px solid hsl(0, 0%, 52%);
  padding-left:.8rem;
  line-height:1.2em;
  font-size:2rem;
  font-weight:600;
  width:300px;
}

section.second img {
  width:350px;
  height:340px;
  box-shadow:-24px -1.75rem 0px hsl(0, 0%, 52%);
}

/* END OF SECOND SECTION */

/* START OF THIRD SECTION */

section.third {
  width:100vw;
  padding:11.25rem 0;
  color:#fff;
  display:flex;
  flex-direction:column;
  gap:3.25rem;
}

section.third .card { 
  background:linear-gradient(to left, var(--blue), hsl(206, 100%, 20%));
  width:60%;
  display:flex;
  justify-content:space-evenly;
  padding:3.5rem 0;
  flex-wrap: wrap;
  gap:2rem;
}

section.third .card:nth-child(2) {
  flex-direction: row-reverse;
  margin-left:auto;
}

section.third img {
  width:270px;
  height:335px;
}

section.third .card:nth-child(1) img {
  box-shadow: -86px -81px 0px -69px hsl(0, 0%, 52%);
}

section.third .card:nth-child(2) img {
  box-shadow: -56px 50px 0px -34px hsl(0, 0%, 52%);
}

section.third .card:nth-child(3) img {
  box-shadow: 89px 85px 0px -76px hsl(0, 0%, 52%);
}

section.third h1 {
  font-size:2rem;
  font-weight:600;
  margin:0;
  line-height:2em;
}

section.third .text p {
  max-width:35ch;
  text-wrap:balance;
  margin:0;
  font-weight:400;
  color:hsl(0, 0%, 80%);
  font-size:1.125rem;
}

section.third button {
  transition:200ms;
  margin-top:1.5em;
  color:var(--blue);
  font-weight:600;
  font-size:1.25rem;
  font-family:'Outfit';
  background-color:#fff;
  outline:none;
  border:none;
  border-radius:30px;
  padding:1rem 5rem;
  cursor:pointer;
  box-shadow: 0px 5px 0px var(--blue);
}

section.third button:hover {
  transition:200ms;
  transform: translateY(-4px);
}

/* END OF THIRD SECTION */ 

/* START OF FOURTH SECTION */

section.fourth {
  background: linear-gradient(360deg, var(--blue) 0%, var(--blue) 29%, #fff 29.01%);
}

section.fourth .content {
  width:90%;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  gap:2rem;
}

section.fourth .text {
  flex:1;
  padding-top:17.5rem;
  min-width: 400px;
}

section.fourth .text h1 {
  font-size:2rem;
  margin:0;
  background: linear-gradient(90deg, var(--blue) 0%, hsl(206, 100%, 30%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  line-height:2em;
}

section.fourth .text p {
  margin:0;
  font-size:1.25rem;
  color:hsl(0, 0%, 52%);
}

section.fourth .form-card {
  border:1px solid hsl(0, 0%, 80%);
  background-color:#fff;
  border-radius:50px;
  flex:1.5;
  padding:4.5rem 0;
  min-width:580px;
  max-width:800px;
}

section.fourth .inputs {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  gap:1.25rem;
}

section.fourth .input {
  display:flex;
  flex-direction:column;
  width:80%;
}

section.fourth input[type="text"],
section.fourth input[type="email"],
section.fourth textarea {
  border:1px solid hsl(0, 0%, 80%);
  outline:none;
  border-radius:15px;
  padding-left:1.75rem;
  color:var(--blue);
  font-family: 'Outfit';
  font-size:1.25rem;
}

section.fourth input[type="text"],
section.fourth input[type="email"] {
  min-height:65px;
}

section.fourth label {
  color:hsl(0, 0%, 52%);
  font-size:1.125rem;
  line-height:1.6em;
}

section.fourth input::placeholder,
section.fourth textarea::placeholder {
  font-family: 'Outfit';
  color:hsl(0, 0%, 80%);
  font-size:1rem;
  margin-left:2rem;
}

section.fourth textarea {
  min-height:175px;
  padding-top:1rem;
  resize:none;
}

section.fourth input[type="submit"] {
  width:80%;
  margin-top:2rem;
  min-height:75px;
  background: linear-gradient(90deg, var(--blue) 0%, #005BA0 100%);
  border-radius: 50px;
  border:none;
  outline:none;
  color:#fff;
  font-size:2rem;
  font-weight:600;
  cursor:pointer;
  transition:500ms;
  font-family:'Outfit';
}

section.fourth input[type="submit"]:hover {
  transition:500ms;
  box-shadow: 0px 0px 12.4px 3px hsl(206, 100%, 80%);
}

section.fourth .input-error ~ label {
  color:lightcoral;
}

section.fourth .input span {
  color:lightcoral;
  font-weight:300;
}

section.fourth .input input:disabled,
section.fourth .input textarea:disabled {
    background-color:lightgrey !important;
    color:lightgrey;
}

section.fourth .disabled-button {
    background:lightgrey !important;
    cursor:default !important;
    color:grey !important;
}

section.fourth .disabled-button:hover {
    transform: none !important;
}

section.fourth .input-error {
  color:lightcoral !important;
  border: 1px solid lightcoral !important;
}

/* END OF FOURTH SECTION */

/* START OF FOOTER */

section.footer {
  background-color:var(--blue);
  padding-top:5rem;
}

section.footer div.content {
  width:90%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  gap:4rem;
}

section.footer div.logo {
  height:fit-content;
  display:flex;
  gap:1rem;
}

section.footer div.logo-text {
  display:flex;
  flex-direction:column;
  justify-content:center;
  cursor:pointer;
}

section.footer div.logo-text span {
  color:#fff !important;
}

section.footer div.logo-text span:first-child {
  font-size:2rem;
  font-weight:600;
} 

section.footer div.logo-text span:last-child {
  font-size:1rem;
  letter-spacing:.1em;
}

section.footer span {
  color: hsl(0, 0%, 80%);
}

section.footer h4 {
  margin:0;
  font-size:1.25rem;
  color:#fff;
  line-height:3em;
}

section.footer .primary-info {
  display:flex;
  flex-direction:column;
  gap:1.5rem;
  font-size:1rem;
}

section.footer .address {
  display:flex;
  flex-direction:column;
}

section.footer .contact-info {
  display:flex;
  flex-direction:column;
  gap:.35rem;
}

section.footer .phone,
section.footer .mail {
  display:flex;
  align-items:center;
  gap:.25rem;
}

section.footer .secondary-info {
  display:flex;
  gap:5rem;
  text-wrap:nowrap;
  flex-wrap:nowrap;
}

section.footer .secondary-info img {
  cursor:pointer;
}

section.footer .menu .items {
  display:flex;
  flex-direction:column;
}

section.footer a {
  color:hsl(0, 0%, 80%);
  text-decoration:none;
  font-size:1rem;
}

section.footer a:hover {
  text-decoration:underline;
}